// .user-update-btn {
//   position: relative;
//   top: 15px;
//   float: right;
//   right: 90px;
// }

// .cancel-update-btn {
//   position: relative;
//   top: 15px;
//   float: right;
//   right: -75px;
//   background-color: rgb(202, 59, 59);
//   color: white;
// }
.body {
  padding-bottom: 20px;
}

td {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}


::ng-deep table.mat-table {
  width: 100%;
}

::ng-deep tr.mat-header-row {
  background: #eff0f6;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #767676;
}

::ng-deep mat-sort-header-content {
  margin: auto;
}


::ng-deep .mat-form-field-underline {
  position: absolute;
  width: 100%;
  pointer-events: none;
  transform: scale3d(1, 1.0001, 1);
  bottom: 1.34375em;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px 0px 0px 8px !important;
  border-radius: 8px;
}

// ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 0px;
// }
.success {
  // background-color: rgba(27, 128, 31, 1);
  // color: white;
  color: rgba(27, 128, 31, 1);
}

.danger {
  // background-color: rgba(255, 0, 0, 1);
  // color: white;

  color: rgba(255, 0, 0, 1);
}

// .example-form-field {
//   width: 200px;
// }


// ----------------------------------------------------------------------------------------------------------

// .updateBox {
//   // position: absolute;
//   // left: 240px;
//   // top: 80px;

//   .update-title {
//     font-weight: bold;
//     font-family: "Manrope", sans-serif;
//     font-size: 20.45px;
//     line-height: 29px;
//     color: #171717;
//     opacity: 0.5;
//   }

//   .update-form {
//     width: 817px;
//     height: 406px;
//     // position: absolute;
//     // left: 0px;
//     // top: 60px;
//     background: #ffffff;
//     box-shadow: 0px 5px 10px rgba(85, 91, 139, 0.25);

//     .Reactiveform {
//       display: flex;
//       justify-content: space-evenly;
//       align-items: center;
//       height: 100%;

//       .form-left-side,
//       .form-right-side {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         align-items: flex-start;

//         .firstname,
//         .mobile,
//         .password,
//         .email,
//         .lastname,
//         .totalbalance {
//           display: flex;
//           flex-direction: column;
//           align-items: flex-start;
//           margin-bottom: 40px;

//           .form-label {
//             font-family: "Manrope", sans-serif;
//             color: #171717;
//             font-size: 14px;
//             line-height: 34px;
//             font-weight: bold;
//             margin-bottom: 0px;
//           }

//           .form-input {
//             border: hidden;
//             background: #eff0f6;
//             border-radius: 8px;
//             padding: 5px 16px;
//             width: 330px;
//             height: 44px;
//           }

//           .form-balance {
//             border: hidden;
//             background: rgba(47, 73, 209, 1);
//             border-radius: 8px;
//             width: 330px;
//             height: 44px;
//             color: white;
//             padding-left: 10px;
//             padding-top: 7px;
//             font-size: 20px;
//             line-height: 30px;
//           }
//         }
//       }
//     }
//   }
// }


@media (max-width: 950px) {
  .user-table {
    left: 35px;
    z-index: -50;
  }

  .search-filter {
    left: 35px;
  }

  .title {
    left: 35px;
    margin-bottom: 25px;
  }

  // table{
  //   margin-right: 30px;
  // }
}


@media (max-width: 767.98px) {
  table th {
    font-size: 2.4vw;
  }

  // table{
  //   margin-right: 30px;
  // }
  .noUserDataClass {
    margin-right: 0rem;
  }

}

@media (max-width: 575.98px) {

  table td img {
    width: 20px;
    height: 20px;
  }

  table td button {
    margin-left: 9px;
    width: 10px;
  }

  table td button .mat-icon {
    font-size: 16px;
  }

  .noUserDataClass {
    margin-right: 0rem;
  }

  // table{
  //   margin-right: 30px;
  // }
  .mat-cell {
    font-size: 8px;
  }
}

@media (max-width: 999.98px) {
  .noUserDataClass {
    margin-right: 0rem;
  }
}

::ng-depp td.mat-cell {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.mat-header-cell {
  text-align: center;
  font-weight: bold;
  font-size: medium;
  font-family: sans-serif;
  line-height: 140%;
  color: #767676;
}

.mat-header-row {
  color: black;
  background-color: #EFF0F1;
}

::ng-deep tr.mat-header-row {
  background: #eff0f6;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  color: #767676;
}

mat-header-cell {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.mat-cell {
  text-align: center;
}

.mat-row:hover {
  background-color: #F5F5F5;
}

::ng-deep tr.mat-cell {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 140%;
  color: #767676;
}

.noUserDataParentClass {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noUserDataClass {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #eff0f6;
  // margin-top: 20%;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  // margin-right: 1.0rem;
}