.yes-btn {
    border-radius: 3px;
    background-color :#00AB66;
}
.no-btn {
    border-radius: 3px;
    background-color : #DB5841
}
.mat-dialog-content {
    text-align: inherit;
    font-family: "Inter", sans-serif;
}
.yes-btn:hover {
    border-radius: 3px;
    background-color : #009150;
}
.no-btn:hover {
    border-radius: 3px;
    background-color : #D03D33;
}
.yes-btn {
    margin-left: 67%;
}