<!-- <ngx-ui-loader></ngx-ui-loader> -->

<!-- <app-login  *ngIf = "login !== 'VALID'" (newItemEvent)="addItem($event)"></app-login> -->

<!-- <app-header  *ngIf = "login === 'VALID'"></app-header>
<app-side-nav  *ngIf = "login === 'VALID'"></app-side-nav> -->



<!-- <div ngxUiLoaderBlurred  blur = '10'>
  </div> -->


<router-outlet>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</router-outlet>