::ng-deep table.mat-table {
  width: 100%;
}

::ng-depp td.mat-cell
{
  text-align: center;
  font-family: "Inter", sans-serif;
}

.mat-header-cell {
  text-align: center;
  font-weight: bold;
  font-size: medium;
  font-family: sans-serif;
  line-height: 140%;
  color: #767676;
}
.mat-header-row {
  color: black;
  background-color: #EFF0F1;
}
::ng-deep tr.mat-header-row {
  background: #eff0f6;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  color: #767676;
}
mat-header-cell {
  display:flex;
  justify-content:flex-end;
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: bold;
}
.mat-cell {
  text-align: center;
}

::ng-deep mat-sort-header-content {
  margin: auto;
}

.search-btn {
  position: absolute;
  right: 55px;
  top: 8px;
}

@media (max-width: 950px) {
  .transaction-table {
    left: 35px;
    z-index: -50;
  }

  .search-filter {
    left: 35px;
  }

  .title {
    left: 35px;
    margin-bottom: 25px;
  }
}
::ng-deep tr.mat-cell {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 140%;
  color: #767676;
}
.mat-row:hover{
  background-color: #F5F5F5;
}

.noTrasDataClass {
  height: 48px;
  text-align: center;
  background: #eff0f6;
  margin-top: 20%;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}
